<ul class="list-group">
  <li class="list-group-item">Title: <%= @task.title %></li>
  <li class="list-group-item">Details: <%= @task.details %></li>
  <li class="list-group-item">Complete: <%= @task.completed %></li>
</ul>
